/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {

	background-color:#fafafa;
	height: 100%;
	}

body {

	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color:transparent;
	padding: 20px 40px;
	font-family: Helvetica, sans-serif; 



}

/*headercode 	
*/

header {
	font-family: Allura, sans-serif; 
	width: 90%;
	color:#444
	padding: 20px;
	text-align: center;
	padding:0;
	margin-top:5px;
	margin-bottom:30px; 
	background-image: url(https://lh3.googleusercontent.com/-QvffhSKt-kk/Ta-Dffe6h6I/AAAAAAAABB8/vu-CRrRH91I/s576/Risotto%2520ingredients%25202.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	border-style: none;
	border-color:#cccccc;
	float:left;
	padding-top:0px;
	-moz-border-radius: 15px;
border-radius: 15px;
margin: 7px;

}


header 	h1 { 
font-size: 400%;
letter-spacing: 5px; 
	}

header nav ul {

 	list-style: none;
 	margin-left:0;
}

header nav li {

 	display:inline;
 	font-family: Helvetica, sans-serif;
 	text-align: center; 
 	font-size: 16px;
 	text-transform: uppercase; 
 	margin: 50px;
 }

header a:link {
	color:#fafaf;
	text-decoration:none;
}

header a:visited {
	color:#fafafa
}

header a:hover, 
header a:focus {
	color:#fafafa;
}

header a:active {
	color:#fafafa;
}

/* bodycode
*/

a:link {
	color:#444;
	text-decoration:none;
}

a:visited {
	color:#444;
}

a:hover, 
a:focus {
	color:#444;
}

a:active {
	color:#444;
}

/* tables
*/

table {
width: 100%

}

thead th {
	border-bottom: 2px solid #ccc;
	text-align: left; 
}

th, 
td {

	padding: 5px 0; }
	

tbody tr {
	background-color:transparent;
}

#container {
min-height: 100%;
margin-bottom: -330px;
position: relative;
}

#footer {
height: 330px;
position: relative;
}

.clearfooter {
height: 330px;
clear: both;
}

@media screen and (min-width: 480px) {
	
}

@media screen and (min-width: 768px) {
body {
	width: 700px;
	margin: 20px auto;
}

ul {
list-style-type: none;
margin-left: 0;
padding-left: 0;
}

}

@media screen and (min-width: 992px) {

}
